*{
    box-sizing: border-box;
}

body{
   
    background-color: black;
}

@font-face {
    font-family:'sourcecodereg';
    src: url("SourceCodePro-regular.otf.woff") format("woff");
}

@font-face {
    font-family:'sourcecodelight';
    src: url("SourceCodePro-light.otf.woff") format("woff");
}


img{
    width: 100%;
}

div.page{
    display:flex;
    flex-wrap:wrap;
}

div.title{
    font-size: 13px;
    color:white;
    width:100%;
    padding-top: 80px;
    text-align: center;
    /* background-color: aliceblue; */
    font-family: "sourcecodereg";
}

div.container{
    display:flex;
    margin-left: 80px;
    flex-wrap:wrap;
    width: 50%;
}

div.author{
    font-size: 13px;
    color:white;
    width:100%;
    padding-bottom: 200px;
    text-align: center;
    /* background-color: aquamarine; */
    font-family: "sourcecodereg";
}

div.para{
    line-height: 30px;
    color: white;
    font-family:"sourcecodelight";
    font-size:20px;
    z-index: 30;
    /* font-weight:200; */
}

div.woman{
    width:40%;
    /* display:flex; */
    position: absolute;
    z-index: 8;
    margin-top: 500px;
    margin-left: 50%;
}

div.starlink{
    width:25%;
    position: absolute;
    z-index: 10;
    top:50px;
    right:200px;
}


a.thumbnail{
    font-size: 20px;
    padding: 30px;
    background-color: #fff;
    color: skyblue;
    text-decoration: none;
    width:25%;
    margin: 10px;
}

